body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

body,  * {
  box-sizing: border-box;
}



button, .file_button {
  background: #0009;
  border: 1px solid hsl(31, 100%, 40%);
  border-radius: 3px;
  color: hsl(31, 100%, 40%);
  padding: 8px 24px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
  transition: background ease 0.3s;
}

button:hover, .file_button:hover {
  background: hsla(31, 100%, 40%, 0.2);
}

button[disabled], .file_button[disabled] {
  border-color: #dbdbdb;
  color: #dbdbdb;
  cursor: not-allowed;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


#selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file_button .label {
  margin-right: 2em;
}

.file_button #file-information {
  color: #fff;
}

.file_button #file-information .file_name {
  margin-right: 2em;
}

.file_button #file-information .file_size {
  color: #878787;
  font-style: italic;
}

#analyze-button {
  position: relative;
  padding-left: 2.5em;
}

#analyze-button:before {
  content: '';
  position: absolute;
  left: 1.2em;
  top: 0.55em;
  display: block;
  width: 1em;
  height: 1em;
  background-image: url('/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


#selection .compatible_version {
  color: #fff;
  font-style: italic;
}

#selection .thank_you {
  margin: 3em 0 0 0;
  font-weight: bold;
  text-align: center;
  color: hsl(31, 100%, 40%);
  padding: 2em 3.7em;
  border: 0.6em solid;
  border-image: linear-gradient(190deg, hsl(31, 100%, 40%), #800000) 30;
  line-height: 1.6em;
}

#select-other-file {
  font-size: 16px;
}

#result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: rgba(0,0,0,0.6);
  margin: 50px 0;
  padding: 20px 20px 20px 250px;
}

#result {
  padding: 20px 20px 20px 20px;
}

#result h3 {
  color: #fff;
  margin: 1em 0 0.5em 0;
}

#result h3 + input + label {
  color: #fff;
}

#navigation-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}

#navigation {
  position: sticky;
  top: 100px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#navigation a {
  color: hsl(31, 100%, 40%);
  margin: 5px;
}

#navigation a:hover {
  color: #fff;
}



/* TABLES */

.grid_table {
  display: inline-grid;
  grid-gap: 2px;
  padding: 2px;
  background-color: #dbdbdb;
  border-radius: 2px;
}


.grid_table .head {
  display: contents;
}

.grid_table .head > div {
  background: #dbdbdb;
  padding: 5px 10px;
  font-weight: bold;
}

.grid_table .row {
  display: contents;
}

.grid_table .row > div {
  padding: 5px 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}



.general_stats_table {
  grid-template-columns: auto auto 100px;
}

.general_stats_table.collapsed {
  grid-template-columns: auto 0 100px;
}



.components_table {
  grid-template-columns: auto auto 100px 100px 100px 200px;
}

.components_table.collapsed {
  grid-template-columns: auto 0 100px 100px 100px 200px;
}

.components_table .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
  background-color: #16151a !important;
}

.components_table .count {
  justify-content: flex-end;
}



.logics_table {
  grid-template-columns: auto auto 100px 200px;
}

.logics_table.collapsed {
  grid-template-columns: auto 0 100px 200px;
}

.logics_table .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
}

.logics_table .count {
  justify-content: flex-end;
}


/* color tables */
.colors_table {
  grid-template-columns: auto auto 200px auto;
}

.colors_table .row .color {
  background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
  margin: -1px 0 -1px 0;
  height: calc(100% + 2px);
}

.colors_table .row .color span {
  width: 100%;
  height: 1em;
}

.colors_table .row .amount {
  justify-content: flex-end;
}


.colors_table .row .hex {
  font-family: "Lucida Console", Monaco, monospace;
}

/* microcontrollers list */
.microcontroller_list {
  display: inline-flex;
  flex-direction: column;
}

.microcontroller_list .microcontroller {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2em;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
}

.microcontroller_list .microcontroller h4 {
  margin: 0 0 0.5em 0;
}

.microcontroller_list .microcontroller .count_container {
  display: inline-flex;
  flex-direction: row;
}

.microcontroller_list .microcontroller .count {
  text-align: right;
  width: 50px;
  margin-right: 1em;
}





/* analyze progress */
#analyze-progress {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 40%;
  width: 100vw;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  color: hsl(31, 100%, 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#analyze-progress .inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid hsl(31, 100%, 40%);
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

#analyze-progress span {
  margin: 1em 0;
}

#analyze-progress .progress {
  font-size: 200%;
  line-height: 50%;
  font-weight: bold;
}


/* information badges */
#information {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#information > * {
  margin-bottom: 5px;
}

#information a {
  color: hsl(31, 100%, 40%);
  text-decoration: none;
}
